$normal-color: blue
/* || General Styles */


body, main {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

/* || Container */
#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* || SITEWIDE*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}